<!-- eslint-disable prettier/prettier -->

<mat-card class="card" appearance="outlined">
  <!-- Card Header Row (Logo, Name, Members) -->
  <mat-card-header class="header">
    <!-- Container for Logo and Name to allow for left alignment -->
    <div class="left-container">
      <!-- Organization Logo -->
      <!-- Organization Name -->
      <mat-card-title class="name" [matTooltip]="project.title" matTooltipPosition="above"
        [matTooltipDisabled]="project.title.length < 25">
        {{
        project.title
        }}
      </mat-card-title>
    </div>
  </mat-card-header>

  <mat-card-content class="author">
    {{ project.author }}
  </mat-card-content>

  <mat-card-content class="image_holder">

    <picture>
      <img class="temp" srcset="/assets/OIP.jpeg" />
    </picture>
  </mat-card-content>
  <!-- Organization Description -->
  <mat-card-content class="description">
    {{ project.short_description }}
  </mat-card-content>

  <!-- Organization Links & Details -->
  <mat-card-actions class="links">
    <!-- Icon only appears if the organization actually has a corresponding link -->

    <!-- Link to Individual Organization Page -->
    <a class="create-link" routerLink="/showcase/project">
      <button mat-stroked-button class="create-link">Details</button>
    </a>
    <!--
<a class="link-button" [routerLink]="['/0/edit']">
      <button mat-stroked-button>Edit</button>
    </a> 

    <a class="create-link" routerLink="/showcase/0/edit">

      <button mat-stroked-button>Delete</button>
    </a> -->

    <button *ngIf="project.onyen === profile.onyen" mat-stroked-button (click)="editProject()">
      Edit</button>

    <button *ngIf="project.onyen === profile.onyen" mat-stroked-button (click)="deleteProject()">Delete</button>
  </mat-card-actions>
</mat-card>